flows.json
[
    {
        "id": "2d46aace.8daef6",
        "type": "tab",
        "label": "SLAB",
        "disabled": false,
        "info": "SmartLABels"
    },
    {
        "id": "d8208769.c72668",
        "type": "inject",
        "z": "2d46aace.8daef6",
        "name": "Label_1",
        "topic": "",
        "payload": "{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"\"}",
        "payloadType": "json",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "a935bba9.658488"
            ]
        ]
    },
    {
        "id": "a935bba9.658488",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Temperature",
        "func": "randomTemperature = Math.floor(Math.random() * 100 - 25);\nmsg.payload.temperature = randomTemperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "88bf604d.5ec5b"
            ]
        ]
    },
    {
        "id": "88bf604d.5ec5b",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Hit",
        "func": "randomHit = Math.floor(Math.random() * 2);\nmsg.payload.hit = randomHit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "3d421cf8.3d7734"
            ]
        ]
    },
    {
        "id": "3d421cf8.3d7734",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Acceleration",
        "func": "randomAcceleration = {\n    x: Math.floor(Math.random() * 40.0 - 20.0),\n    y: Math.floor(Math.random() * 40.0 - 20.0),\n    z: Math.floor(Math.random() * 40.0 - 20.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "8fda05.b312d5f8"
            ]
        ]
    },
    {
        "id": "8fda05.b312d5f8",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Orientation",
        "func": "randomOrientation = {\n    yaw: Math.floor(Math.random() * 360 - 180),\n    pitch: Math.floor(Math.random() * 360 - 180),\n    roll: Math.floor(Math.random() * 360 - 180)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "5c461e9a.4e78c"
            ]
        ]
    },
    {
        "id": "bacee427.1bea68",
        "type": "debug",
        "z": "2d46aace.8daef6",
        "name": "Print msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1440,
        "y": 540,
        "wires": []
    },
    {
        "id": "3aa5587.88d56a8",
        "type": "mqtt in",
        "z": "2d46aace.8daef6",
        "name": "Hub In",
        "topic": "/label_1",
        "qos": "2",
        "datatype": "json",
        "broker": "449156e4.1a1858",
        "x": 1130,
        "y": 540,
        "wires": [
            [
                "3c5837c.b04ffc8"
            ]
        ]
    },
    {
        "id": "3c5837c.b04ffc8",
        "type": "http request",
        "z": "2d46aace.8daef6",
        "name": "Hub Out",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1280,
        "y": 540,
        "wires": [
            [
                "bacee427.1bea68"
            ]
        ]
    },
    {
        "id": "d424d67a.c0eb98",
        "type": "mqtt out",
        "z": "2d46aace.8daef6",
        "name": "Label_1 Out",
        "topic": "/label_1",
        "qos": "",
        "retain": "",
        "broker": "449156e4.1a1858",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "db1b895f.4edf68",
        "type": "inject",
        "z": "2d46aace.8daef6",
        "name": "Label_2",
        "topic": "",
        "payload": "{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"\"}",
        "payloadType": "json",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "40493a08.bc2614"
            ]
        ]
    },
    {
        "id": "40493a08.bc2614",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Temperature",
        "func": "randomTemperature = Math.floor(Math.random() * 100 - 25);\nmsg.payload.temperature = randomTemperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "151b2b1d.7e90c5"
            ]
        ]
    },
    {
        "id": "151b2b1d.7e90c5",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Hit",
        "func": "randomHit = Math.floor(Math.random() * 2);\nmsg.payload.hit = randomHit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "f0bf114b.e996e"
            ]
        ]
    },
    {
        "id": "f0bf114b.e996e",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Acceleration",
        "func": "randomAcceleration = {\n    x: Math.floor(Math.random() * 40.0 - 20.0),\n    y: Math.floor(Math.random() * 40.0 - 20.0),\n    z: Math.floor(Math.random() * 40.0 - 20.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "516fbc2.604ff44"
            ]
        ]
    },
    {
        "id": "516fbc2.604ff44",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Orientation",
        "func": "randomOrientation = {\n    yaw: Math.floor(Math.random() * 360 - 180),\n    pitch: Math.floor(Math.random() * 360 - 180),\n    roll: Math.floor(Math.random() * 360 - 180)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 580,
        "wires": [
            [
                "c207b003.c1697"
            ]
        ]
    },
    {
        "id": "42160170.3d0c6",
        "type": "mqtt out",
        "z": "2d46aace.8daef6",
        "name": "Label_2 Out",
        "topic": "/label_2",
        "qos": "",
        "retain": "",
        "broker": "449156e4.1a1858",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "ca8b0473.a4e888",
        "type": "inject",
        "z": "2d46aace.8daef6",
        "name": "Label_3",
        "topic": "",
        "payload": "{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"\"}",
        "payloadType": "json",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 400,
        "y": 720,
        "wires": [
            [
                "1006b671.d134ea"
            ]
        ]
    },
    {
        "id": "1006b671.d134ea",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Temperature",
        "func": "randomTemperature = Math.floor(Math.random() * 100 - 25);\nmsg.payload.temperature = randomTemperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 720,
        "wires": [
            [
                "3c82fdcc.e1c212"
            ]
        ]
    },
    {
        "id": "3c82fdcc.e1c212",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Hit",
        "func": "randomHit = Math.floor(Math.random() * 2);\nmsg.payload.hit = randomHit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "9a0dc16d.792b7"
            ]
        ]
    },
    {
        "id": "9a0dc16d.792b7",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Acceleration",
        "func": "randomAcceleration = {\n    x: Math.floor(Math.random() * 40.0 - 20.0),\n    y: Math.floor(Math.random() * 40.0 - 20.0),\n    z: Math.floor(Math.random() * 40.0 - 20.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 800,
        "wires": [
            [
                "5fb119f3.1d3b48"
            ]
        ]
    },
    {
        "id": "5fb119f3.1d3b48",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Random Orientation",
        "func": "randomOrientation = {\n    yaw: Math.floor(Math.random() * 360 - 180),\n    pitch: Math.floor(Math.random() * 360 - 180),\n    roll: Math.floor(Math.random() * 360 - 180)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 840,
        "wires": [
            [
                "40c91c28.e80874"
            ]
        ]
    },
    {
        "id": "fd70a671.9ac798",
        "type": "mqtt out",
        "z": "2d46aace.8daef6",
        "name": "Label_3 Out",
        "topic": "/label_3",
        "qos": "",
        "retain": "",
        "broker": "449156e4.1a1858",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "5c461e9a.4e78c",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Contractor",
        "func": "msg.payload.contractor = \"John Doe\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "d424d67a.c0eb98"
            ]
        ]
    },
    {
        "id": "c207b003.c1697",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Contractor",
        "func": "msg.payload.contractor = \"John Doe\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "42160170.3d0c6"
            ]
        ]
    },
    {
        "id": "40c91c28.e80874",
        "type": "function",
        "z": "2d46aace.8daef6",
        "name": "Contractor",
        "func": "msg.payload.contractor = \"John Doe\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 880,
        "wires": [
            [
                "fd70a671.9ac798"
            ]
        ]
    },
    {
        "id": "92fef30f.3e6c6",
        "type": "comment",
        "z": "2d46aace.8daef6",
        "name": "Labels",
        "info": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6bb55db.e058d8",
        "type": "comment",
        "z": "2d46aace.8daef6",
        "name": "Hub",
        "info": "",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "449156e4.1a1858",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker #1",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]