node-red.json
[{"id":"2d46aace.8daef6","type":"tab","label":"SLAB","disabled":false,"info":"SmartLABels"},{"id":"449156e4.1a1858","type":"mqtt-broker","z":"","name":"MQTT Broker #1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fae5575b.522d18","type":"mqtt-broker","z":"","name":"Mosca_1","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c3ae4e66.07289","type":"mqtt-broker","z":"","name":"Mosca_2","broker":"localhost","port":"1885","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b05744a.e9a4cc","type":"mqtt-broker","z":"","name":"Mosca_3","broker":"localhost","port":"1886","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8208769.c72668","type":"inject","z":"2d46aace.8daef6","name":"Label_1","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"John Doe\",\"truck\":1,\"label\":1}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":280,"y":360,"wires":[["a935bba9.658488"]]},{"id":"a935bba9.658488","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["88bf604d.5ec5b"]]},{"id":"88bf604d.5ec5b","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["3d421cf8.3d7734"]]},{"id":"3d421cf8.3d7734","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["8fda05.b312d5f8"]]},{"id":"8fda05.b312d5f8","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["d424d67a.c0eb98"]]},{"id":"bacee427.1bea68","type":"debug","z":"2d46aace.8daef6","name":"Print msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":440,"wires":[]},{"id":"3aa5587.88d56a8","type":"mqtt in","z":"2d46aace.8daef6","name":"Hub_1 In","topic":"labels","qos":"2","datatype":"json","broker":"fae5575b.522d18","x":980,"y":400,"wires":[["bacee427.1bea68","3c5837c.b04ffc8"]]},{"id":"3c5837c.b04ffc8","type":"http request","z":"2d46aace.8daef6","name":"Hub_1 Out","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":400,"wires":[[]]},{"id":"d424d67a.c0eb98","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_1 Out","topic":"labels","qos":"","retain":"","broker":"fae5575b.522d18","x":770,"y":280,"wires":[]},{"id":"db1b895f.4edf68","type":"inject","z":"2d46aace.8daef6","name":"Label_2","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"John Doe\",\"truck\":1,\"label\":2}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":280,"y":400,"wires":[["40493a08.bc2614"]]},{"id":"40493a08.bc2614","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["151b2b1d.7e90c5"]]},{"id":"151b2b1d.7e90c5","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["f0bf114b.e996e"]]},{"id":"f0bf114b.e996e","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["516fbc2.604ff44"]]},{"id":"516fbc2.604ff44","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["42160170.3d0c6"]]},{"id":"42160170.3d0c6","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_2 Out","topic":"labels","qos":"","retain":"","broker":"fae5575b.522d18","x":770,"y":460,"wires":[]},{"id":"ca8b0473.a4e888","type":"inject","z":"2d46aace.8daef6","name":"Label_3","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"John Doe\",\"truck\":1,\"label\":3}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":280,"y":440,"wires":[["1006b671.d134ea"]]},{"id":"1006b671.d134ea","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["3c82fdcc.e1c212"]]},{"id":"3c82fdcc.e1c212","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["9a0dc16d.792b7"]]},{"id":"9a0dc16d.792b7","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":600,"wires":[["5fb119f3.1d3b48"]]},{"id":"5fb119f3.1d3b48","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["fd70a671.9ac798"]]},{"id":"fd70a671.9ac798","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_3 Out","topic":"labels","qos":"","retain":"","broker":"fae5575b.522d18","x":770,"y":640,"wires":[]},{"id":"42ae9e2d.42a8b","type":"mosca in","z":"2d46aace.8daef6","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":1010,"y":340,"wires":[[]]},{"id":"5560d11.56c473","type":"comment","z":"2d46aace.8daef6","name":"Truck_1","info":"","x":270,"y":320,"wires":[]},{"id":"56222e1.141ced","type":"inject","z":"2d46aace.8daef6","name":"Label_1","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"Alex Smith\",\"truck\":1,\"label\":1}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":260,"y":1000,"wires":[["ef751597.8fb7a8"]]},{"id":"ef751597.8fb7a8","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":860,"wires":[["865c98d9.115898"]]},{"id":"865c98d9.115898","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":900,"wires":[["329f98b8.39a2f8"]]},{"id":"329f98b8.39a2f8","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["89ce527a.9042a"]]},{"id":"89ce527a.9042a","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":980,"wires":[["50aae4fa.2f474c"]]},{"id":"5c49a5ce.d41b6c","type":"debug","z":"2d46aace.8daef6","name":"Print msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":1080,"wires":[]},{"id":"5f40cb16.2f6c14","type":"mqtt in","z":"2d46aace.8daef6","name":"Hub_2 In","topic":"labels","qos":"2","datatype":"json","broker":"c3ae4e66.07289","x":980,"y":1040,"wires":[["7355c0e1.46099","5c49a5ce.d41b6c"]]},{"id":"7355c0e1.46099","type":"http request","z":"2d46aace.8daef6","name":"Hub_2 Out","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":1040,"wires":[[]]},{"id":"50aae4fa.2f474c","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_1 Out","topic":"labels","qos":"","retain":"","broker":"c3ae4e66.07289","x":770,"y":980,"wires":[]},{"id":"82b7c343.0f35a","type":"inject","z":"2d46aace.8daef6","name":"Label_2","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"Alex Smith\",\"truck\":1,\"label\":2}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":260,"y":1040,"wires":[["c528dc2e.a5fc9"]]},{"id":"c528dc2e.a5fc9","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1040,"wires":[["8c0c6797.9aa998"]]},{"id":"8c0c6797.9aa998","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1080,"wires":[["6b345844.b65a38"]]},{"id":"6b345844.b65a38","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1120,"wires":[["d0988e6f.70ebe"]]},{"id":"d0988e6f.70ebe","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1160,"wires":[["22e66d33.72e782"]]},{"id":"22e66d33.72e782","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_2 Out","topic":"labels","qos":"","retain":"","broker":"c3ae4e66.07289","x":770,"y":1160,"wires":[]},{"id":"30c6a986.3fa126","type":"inject","z":"2d46aace.8daef6","name":"Label_1","topic":"","payload":"{\"temperature\":0,\"hit\":0,\"acceleration\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"yaw\":0,\"pitch\":0,\"roll\":0},\"contractor\":\"Alex Smith\",\"truck\":2,\"label\":1}","payloadType":"json","repeat":"0.5","crontab":"","once":true,"onceDelay":"0","x":260,"y":1260,"wires":[["a3976763.cbbe28"]]},{"id":"a3976763.cbbe28","type":"function","z":"2d46aace.8daef6","name":"Random Temperature","func":"randomTemperature = Math.floor(Math.random() * 60 - 15);\nmsg.payload.temperature = randomTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1260,"wires":[["2966b24.8d4214e"]]},{"id":"2966b24.8d4214e","type":"function","z":"2d46aace.8daef6","name":"Random Hit","func":"randomHit = Math.floor(Math.random() * 100);\nmsg.payload.hit = (randomHit == 1);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1300,"wires":[["28976714.03e038"]]},{"id":"28976714.03e038","type":"function","z":"2d46aace.8daef6","name":"Random Acceleration","func":"randomAcceleration = {\n    x: Math.floor(Math.random() * 22.0 - 11.0),\n    y: Math.floor(Math.random() * 22.0 - 11.0),\n    z: Math.floor(Math.random() * 22.0 - 11.0)\n}\n\nmsg.payload.acceleration = randomAcceleration;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1340,"wires":[["4c532ccd.5818b4"]]},{"id":"4c532ccd.5818b4","type":"function","z":"2d46aace.8daef6","name":"Random Orientation","func":"randomOrientation = {\n    yaw: Math.floor(Math.random() * 90 - 45),\n    pitch: Math.floor(Math.random() * 90 - 45),\n    roll: Math.floor(Math.random() * 90 - 45)\n}\n\nmsg.payload.orientation = randomOrientation;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1380,"wires":[["b9eaf9ba.a31528"]]},{"id":"b9eaf9ba.a31528","type":"mqtt out","z":"2d46aace.8daef6","name":"Label_1 Out","topic":"labels","qos":"","retain":"","broker":"1b05744a.e9a4cc","x":770,"y":1380,"wires":[]},{"id":"ad3bd6e8.f359a8","type":"mosca in","z":"2d46aace.8daef6","mqtt_port":"1885","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":1010,"y":980,"wires":[[]]},{"id":"33bb6dcc.a7ad22","type":"comment","z":"2d46aace.8daef6","name":"Truck_1","info":"","x":250,"y":960,"wires":[]},{"id":"16ca9696.432fd9","type":"comment","z":"2d46aace.8daef6","name":"Truck_2","info":"","x":250,"y":1220,"wires":[]},{"id":"bd9eabe3.80bf78","type":"debug","z":"2d46aace.8daef6","name":"Print msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":1360,"wires":[]},{"id":"26dc7440.07d9dc","type":"mqtt in","z":"2d46aace.8daef6","name":"Hub_3 In","topic":"labels","qos":"2","datatype":"json","broker":"1b05744a.e9a4cc","x":980,"y":1320,"wires":[["61f275f5.ffdc8c","bd9eabe3.80bf78"]]},{"id":"61f275f5.ffdc8c","type":"http request","z":"2d46aace.8daef6","name":"Hub_3 Out","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":1320,"wires":[[]]},{"id":"cb5b4119.1f6b7","type":"mosca in","z":"2d46aace.8daef6","mqtt_port":"1886","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":1010,"y":1260,"wires":[[]]}]